In [73]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from pandasgui import show

In [74]:
df = pd.read_pickle("../nas_pickle/test1.pkl")
df["fitness"] = pd.to_numeric(df["fitness"])
df.nsmallest(3, "fitness")
df.to_csv("test1.csv")

gui = show(df.head(1000))

PandasGUI INFO — pandasgui.gui — Opening PandasGUI

In [78]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [2, 2, 2]})

df[["A", "B"]]

   A  B
0  1  4
1  2  5
2  3  6

In [57]:
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

# New row to add as a dictionary
new_row = {'A': 4, 'B': 7}

# Convert the dictionary to a DataFrame and concatenate
df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)
df.head()

   A  B
0  1  4
1  2  5
2  3  6
3  4  7